# Backup directory
backups/*
!backups/.gitkeep
*~

# Data directories
elpa/archives/*
.python-environments/
games/
geben/
url/*
eshell/
server/

# Data files
ac-comphist.dat
tramp
shellenv.el
places
recentf
projectile-bookmarks.eld
projectile.cache
network-security.data

.mc-lists.el

